.la--base {
  background-image: url('../../images/background.svg');
  background-position: center;
  background-size: cover;
}

.la--logo {
  margin-top: 12.5vh;
  margin-bottom: 96px;
}

.la--title {
  margin-bottom: 36px;
}

.la--search {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
}

.la--button {
  background: #eb3312;
  border: none;
  width: 64px;

  margin-left: 0px;
  border-radius: 4px;
  cursor: pointer;
}

/* Mobile Phone CSS */
@media screen and (max-width: 480px) {
  .la--logo {
    width: 40vw;
    margin-bottom: 72px;
  }

  .la--title {
    width: 85vw;
    margin-bottom: 24px;
  }

  .la--subtitle {
    width: 50vw;
  }
}
