.base {
  background-color: none;
  border: 1px solid #ffffffaa;
  display: flex;
  flex-direction: row;
  width: 500px;
  max-width: 50vw;
  height: 32px;

  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.base-large {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: calc(32px + 12px + 12px); /* Account for new height on box sizing */
}

.search-bar {
  background: none;
  margin: auto;
  color: white;
  font-family: 'DM Mono', monospace;
  font-size: 20px;
  flex: 1;
  height: 100%;

  border: none;
  outline: none;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::placeholder {
  color: #ffffffaa;
}

@media screen and (max-width: 480px) {
  .search-bar {
    font-size: 16px;
  }
}
