.lo--page-base {
  background: #0f162a;
}

.lo--page-body {
  justify-content: center;
}

.lo--title {
  margin-top: -48px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #f4ddb5;
}
